@import url("https://fonts.googleapis.com/css?family=Open+Sans%7CRoboto:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons%7CMaterial+Icons+Outlined");

/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html {
  margin: 0;
  padding: 0;
}

body {
  width: 350px;
  height: 500px;
}

.header {
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  display: block;
  height: 50px;
  background-color: #363336;
}

.row {
  height: 50px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #363336;
  align-items: center;
}

.row:hover {
  cursor: pointer;
}

.session-name, .session-role {
  color: #dedcdd;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.session-info-container {
  position: relative;
  width: 230px;
  left: 5px;
  padding-right: 9px;
}

#container img {
  height: 16px;
  position: relative;
  bottom: -1px;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #1F1D1E;
}

.app {
  height: 100%;
}

span.badge {
  display: inline-block;
  padding: 5px;
  max-width: 85px;
  min-width: 30px;
  height: 20px;
  font-size: 10px;
  text-transform: uppercase;
}

span.badge-region {
  border-radius: 3px;
  padding-top: 4.5px;
  padding-right: 7px;
  padding-left: 7px;
  font-weight: 500;
  background-color: #999999 !important;
  color: #ffffff !important;
}
